extend layout

block content

	section#one
		.inner
			header.major
				h1 Find the certificate
			form(action='cert', method='post', enctype='multipart/form-data')
				fieldset
				| EmailId: 
				input(type='text', name='emailId')
				
				input(type='submit', value='Search')


