extends layout

block content

	section#one
		.inner   
			h4 Certificate is issused to the candidate with below given details.
			h4 Name: #{data[0].name}
			h4 dob: #{data[0].dob}
			h4 Phone: #{data[0].phone}