div(style="background-image:url('../images/cert.jpeg');height:1400px;background-repeat:no-repeat;background-position:center")
	- var count = 0
	- while (count < 36){
	-count++
	br
	-}
	h4(style='color:black;text-align:center;font-size:30px;') #{data[0].name}
	br
	h4(style='color:black;font-size:30px;margin-left:40%;') #{data[0].purpose}

	